* {
  box-sizing: border-box;
}

h1, p, legend, label, #submit {
  font-family: "EB Garamond", "Italiana", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  text-align: center;
  font-weight: 800;
}

#statement p {
  font-size: 18px;
  text-align: center;
}

legend {
  font-size: 20px;
  font-weight: 450;
  text-align: center;
}

body {
  background-color: #ADCBAC;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=text]:focus {
  background-color: #ADCBAC;
}

input[type=password], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=password]:focus {
  background-color: #ADCBAC;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #245D21;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
 
input[type=submit]:hover {
  opacity: 0.5;
}

#submit {
  margin-top: 20px;
}

.container {
  border-radius: 5px;
  background-color: #598C57;
  padding: 20px;
}

.col-one, .col-two, input[type=submit] {
  width: 100%;
  margin-top: 0;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

#text {
  display: none;
  color: red;
}

@media screen and (min-width: 768px) {
  .col-one {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-two {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  input[type=submit] {
    width: 50%;
    display: block;
    margin: 0 auto;
    font-size: 20px;
  }
  
  label {
    font-size: 20px;
  }
  
  #statement p {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 40px;
  }
  
  input[type=submit] {
    width: 20%;
  }
  
  legend {
    font-size: 25px;
  }
  
  label {
    font-size: 20px;
  }
  
  body {
    width: 90%;
    margin: 0 auto;
  }
  
  #statement p {
    font-size: 23px;
  }
}