h1, p, legend, label, #submit {
  font-family: "EB Garamond", "Italiana", serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}

h1 {
  text-align: center;
}

legend {
  font-size: 20px;
  text-align: center;
}

body {
  background-color: #ADCBAC;
}

