h1, p {
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

body {
  background-color: #389033;
}

#container {
  background-color: #79BB76;
  padding: 1em;
}

#submit {
  text-align: center;
}